html, body {
    margin: 0;
    padding: 0;
  }

/*@font-face{
    font-family: 'Caveat'
    src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v5/Wnz6HAc5bAfYB2Q7YjYYiAzcPDKo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/

body {
  background-color : #ffffff
}
  .header {
      background:url(Paris2.jpg) no-repeat center center;
      background-size: cover;
      height: 680px;
      text-align: center;
      margin-bottom: 2%;
  }

  .Homepage-title {
    font: italic;
    margin-left: 10px;
    display:inline-block;
    text-shadow: 0 0 8px black;
  }

  .header .container {
    position: relative;
    top: 200px;
  }
  .header h1 {
      color: #fff;
      line-height: 100px; 
      font-size: 120px;
      margin-top: 0;
      margin-bottom: 80px;
      font-family: 'Josefin Sans', sans-serif;
  }

  .header h2 {
    color: #fff;
    line-height: 100px; 
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 80px;
    font-family: 'Caveat', cursive;
  }

  .main {
      background-color:#cbcbcbff; 
      padding: 40px;
      display: grid;
  max-width: 600px;
  position: relative;
  grid-template: 2fr/ 3fr 2fr;
  }
  .main .container{ 
    height: 80px; 
    margin: 80px auto;
  }

  .main .container h2{
      color: #b20000;
      font-family:'Josefin Sans', sans-serif;
      font-size: 40px;

  }

  .main .container h3{
      color:#b20000;
      font-family: 'Caveat', cursive;
      font-size: 60px;
      
  }

  .main .container p{
      color: #666666;
      font-family:'Josefin Sans', sans-serif;

  }

  #home-button {
    margin-left: 200px;
  }

