html, body {
    margin: 0;
    padding: 0;
  }

/*@font-face{
    font-family: 'Caveat'
    src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v5/Wnz6HAc5bAfYB2Q7YjYYiAzcPDKo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/

body {
  background-color : #ffffff;
}

h1, h2, h3 {
font-family: 'Caveat', cursive;
}

  .header {
      background:url(Paris2.jpg) no-repeat center center;
      background-size: cover;
      height: 680px;
      text-align: center;
      margin-bottom: 2%;
  }

  .Homepage-title {
    font: italic;
    margin-left: 10px;
    display:inline-block;
    text-shadow: 0 0 8px black;
  }

  .header .container {
    position: relative;
    top: 200px;
  }
  .header h1 {
      color: #fff;
      line-height: 100px; 
      font-size: 120px;
      margin-top: 0;
      margin-bottom: 80px;
  }

  .header h2 {
    color: #fff;
    line-height: 100px; 
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  .main {
      background-color:#cbcbcbff; 
      padding: 40px;
      display: grid;
      max-width: 600px;
      position: relative;
      grid-template: 2fr/ 3fr 2fr;
  }
  .main .container{ 
    height: 80px; 
    margin: 80px auto;
  }

  .main .container h2{
      color: #b20000;
      font-family:'Josefin Sans', sans-serif;
      font-size: 40px;

  }

  .main .container h3{
      color:#b20000;
      font-family: 'Caveat', cursive;
      font-size: 60px;
      
  }

  .main .container p{
      color: #666666;
      font-family:'Josefin Sans', sans-serif;

  }

  #home-button {
    margin-left: 150px;
    border-radius:4px;
    border:1px solid navy;
    margin-right: 20px;
  }

  .day-area {
    position:relative;
  }

.day-name {
  position:absolute;
  left:0;
  right:0;
  bottom:60%;
  color:white;
  text-shadow: 0 0 5px  rgb(14, 57, 14);
  font-size:200%;
  font-style:italic;
}

.day-name-middle {
  position:absolute;
  left:0;
  right:0;
  bottom:12%;
  color:white;
  text-shadow: 0 0 5px  rgb(14, 57, 14);
  font-size:200%;
  font-style:italic;
}

.blog-description {
  font-weight: 200;
  color: rgb(14, 57, 14);
  height: 200px;
  top:0;
  bottom:0;
}

ul.navbar-nav > li {
  margin-right: 25px;
} 