html, body {
    margin: 0;
    padding: 0;
  }

/*@font-face{
    font-family: 'Caveat'
    src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v5/Wnz6HAc5bAfYB2Q7YjYYiAzcPDKo.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/

body {
  background-color : #ffffff;
}


  .header {
      background:url(Paris2.jpg) no-repeat center center;
      background-size: cover;
      height: 680px;
      text-align: center;
      margin-bottom: 2%;
  }

  .homepage-title {
    font: italic;
    margin-left: 10px;
    display:inline-block;
    text-shadow: 0 0 8px black;
    font-family: 'Caveat', cursive;
  }

  .header .container {
    position: relative;
    top: 200px;
  }
  .header h1 {
      color: #fff;
      line-height: 100px; 
      font-size: 120px;
      margin-top: 0;
      margin-bottom: 80px;
  }

  .header h2 {
    color: #fff;
    line-height: 100px; 
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  .main {
      background-color:#cbcbcbff; 
      padding: 40px;
      display: grid;
      max-width: 600px;
      position: relative;
      grid-template: 2fr/ 3fr 2fr;
  }
  .main .container{ 
    height: 80px; 
    margin: 80px auto;
  }

  .main .container h2{
      color: #b20000;
      font-family:'Josefin Sans', sans-serif;
      font-size: 40px;

  }

  .main .container h3{
      color:#b20000;
      font-family: 'Caveat', cursive;
      font-size: 60px;
      
  }

  .main .container p{
      color: #666666;
      font-family:'Josefin Sans', sans-serif;

  }

  #home-button {
    margin-right: 20px;
    margin-left: 100px;
    border-radius: 15px;
    border:3px solid #265060;
    padding-bottom: 0px;
  }

  .day-area {
    position:relative;
  }

.day-name {
  position:absolute;
  left:0;
  right:0;
  bottom:60%;
  color:white;
  text-shadow: 0 0 5px  rgb(14, 57, 14);
  font-size:200%;
  font-style:italic;
}

.day-name-middle {
  position:absolute;
  left:0;
  right:0;
  bottom:12%;
  color:white;
  text-shadow: 0 0 5px  rgb(14, 57, 14);
  font-size:200%;
  font-style:italic;
}



ul.navbar-nav > li {
  margin-right: 25px;
} 

.home-spacer {
  height: 300px;
}

#blog-description-area {
  margin-left: 100px;
  margin-right: 100px;
  font-weight: 200;
  color: rgb(14, 57, 14);
  height: 200px;
  top:0;
  bottom:0;
}

.navbar-light div.banner .navbar-nav .nav-link {
  font-family: Bebas;
  color: #265060;
  font-size: 32px;
}

div.banner .navbar-nav li.active .nav-link {
  text-decoration: underline;
  text-underline-position: under; 
}

.banner2 {
  color: #fbf5f;
  font-family: Bebas;
  font-size: 24px;
}


div.way {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15px;
  align-items: center;
}

.activity {
  padding: 20px 5%; 
}

.event-banner {
  align-content: center;
}

.activity-title {
  padding: 25px 10px 25px 50px;
}

div.way {
  background-image: url(white-waves.png);
  background-size: 450px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(14, 57, 14);
  border-radius: 10px;
}

h5.way {
  color: #606060;
  vertical-align: middle;
  padding: 0px;
}
.horaires {
  font-size: 25px;
  font-style: oblique;
  text-align: right;
}

.activity-description {
  font-size:20px;
}

.footer-copyright  {
  background-color: black;
  color: white;
}

/* la hauteur de la bannière fixe */
.space-for-fixed-banner {
  margin-top: 112px;
}

a.anchor-show-below-fixed-banner {
  display: block;
  position: relative;
  top: -112px;
  visibility: hidden;
}

#music {
  width:100%;
}

#walk-itinerary {
  background:url(itinerary.jpg) 50% 0 no-repeat fixed;
  background-position: 0px 112px;
  background-size: cover;
  color: black;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#walk-step1 {
  background:url(step1.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#walk-step2 {
  background:url(step2.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#walk-step3 {
  background:url(step3.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#walk-step4 {
  background:url(step4.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.walk-description{
  margin: 50px auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;
  text-emphasis-color: rgb(56, 56, 72);
}

.story .float-left, .story .float-custom{
  padding: 100px 0 0 0;
  position: relative;
  width: 350px;
}


.float-left {
  float: left;
  margin: 0 0 0 20px;
  background-color: rgba(230, 230, 234, 0.4);
  text-align: center;
  width:430px;
  padding-top: 50px;
}

.float-custom {
    float: right;
    margin: 0 20px 0 0;
    background-color: rgba(230, 230, 234, 0.4);
    text-align: center; 
    width: 350px;
    padding-top: 50px;
}





    @media (max-width: 950px) { 
      .float-custom{
      float: left;
      margin-left: 17px;
      }
